@tailwind base;
@tailwind components;
@tailwind utilities;

.scroll-hide {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}

.scroll-hide::-webkit-scrollbar {
    display: none;  /* Safari and Chrome */
}
